[Unit]
Description=Astar Node

[Service]
User=astar
Group=astar
  
ExecStart=/usr/local/bin/astar-collator \
  --state-pruning archive \
  --collator \
  --name {COLLATOR_NAME} \
  --chain astar \
  --base-path /var/lib/astar \
  --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0' \
  -- \
  --sync warp

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
