[Unit]
Description=Astar Node

[Service]
User={{ astar_node_user }}
Group={{ astar_node_user }}
  
ExecStart=/usr/local/bin/astar-collator \
  --name {{ astar_node_name }} \
  --base-path {{ astar_data_dir }} \
  --telemetry-url '{{ astar_telemetry_url }}' \
  {%- if astar_node_type == 'collator' or astar_node_type == 'full' +%}
  --state-pruning {{ astar_collator_state_pruning }} \
  --blocks-pruning {{ astar_collator_blocks_pruning }} \
  --sync {{ astar_sync_type }} \
  {%- endif +%}
  {%- if astar_node_type == 'collator' +%}
  --collator \
  {%- endif +%}
  {%- if astar_node_type == 'archive' +%}
  --state-pruning archive \
  --rpc-cors all \
  --rpc-external \
  --rpc-methods Safe \
  {%- endif +%}
  {%- for astar_extra_command in astar_extra_commands +%}
  {{ astar_extra_command }} \
  {%- endfor +%}
  --chain {{ astar_network_chain }}

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target


